.container {
  padding: 4em 8em;
}

.hero {
  position: relative;
  width: 100%;
  aspect-ratio: 1215 / 680;
  /* max-height: 600px; */
  max-height: 500px;
  /* height: 500px; */

  /* margin-top: -70px;
  z-index: -10; */

  /* position: relative;
  height: 500px;
  object-fit: contain;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

/* .mobilePlayer {
  display: none;
} */

.backButton {
  margin: 2em 0;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 2em;
  }

  .backButton {
    margin: 2em 0 4em 0;
  }

  /* .desktopPlayer {
    display: none;
  } */

  .mobilePlayer {
    display: block;
  }
}
