.container {
  padding: 4em 8em;
}

.hero {
  position: relative;
  width: 100%;
  aspect-ratio: 1215 / 680;
  max-height: 600px;
}

.mobilePlayer {
  display: none;
}

.backButton {
  margin: 2em 0;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 2em;
  }
  .desktopPlayer {
    display: none;
  }
  .mobilePlayer {
    display: block;
  }
}
